.Sidebar_all{
    position: sticky;
    margin-top: 15px;
    flex: 0.14;
    justify-content: space-evenly;
    height: fit-content;
}

.Home_icon{
    background-color: lightblue;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.side_option{
    border-bottom: 0.5px solid lightgray;
    height: fit-content;
    justify-content: space-evenly;
}

.middle_side{
    border-bottom: 0.5px solid lightgrey;
}

.middle_opt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.middle_opt > p{
    color: grey;
}

.other_bar{
    justify-content: space-evenly;
}

.middle_side > h3{
    color: grey;
    font-size: 13px;
    margin-top: 22px;
    margin-left: 22px;
}

.other_side{
    margin-left: 25px;
}

.other_side > p{
    color:grey;
    font-size: 13px;
    margin-top: 20px;
}

.other_side:hover{
    cursor: pointer;
}